In [21]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from collections import Counter

In [18]:
list287 = pd.read_table('287-plate-MJD-fiberID.txt', sep='  ', names=('plate', 'mjd', 'fibedID'))
list287.columns

/Users/nicolasgalvarinoguerravaras/anaconda3/lib/python3.7/site-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

Index(['plate', 'mjd', 'fibedID'], dtype='object')

In [19]:
list287

     plate    mjd  fibedID
0      423  51821      295
1     1949  53433      472
2     1273  52993      348
3     2030  53499      201
4     2520  54584      442
..     ...    ...      ...
282    741  52261      116
283   1171  52753      416
284   2774  54534       51
285   2485  54176      231
286   2292  53713      348

[287 rows x 3 columns]

In [22]:
Counter(list287.duplicated(subset=None, keep='first'))

Counter({False: 287})